.previewWrap {
  width: 50%;
  margin: 0 auto;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =============================================== */
@media (max-width: 992px) {
  .previewWrap {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .previewWrap {
    width: 85%;
  }
}
@media (max-width: 479px) {
  .previewWrap {
    width: 95%;
  }
}
/* =============================================== */

.fcc {
  width: 25px;
}
.fcc2 {
  width: 25px;
  cursor: pointer;
}
.fcc2:hover {
  color: rgb(232, 232, 227);
}

.toolbar {
  /* none touch */
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4aa3a3;
  padding: 3px 5px;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  font-size: 1rem;
  color: white;
  text-align: left;
}

.previewArea {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  margin-bottom: 15px;
  resize: vertical;
  outline: none;
  padding: 0px 10px;
  font-size: 0.875rem;
  border: none;
  background-color: rgb(43, 69, 69);
  border-right-color: rgb(127, 118, 105);
  border-bottom-color: rgb(127, 118, 105);
  border-left-color: rgb(127, 118, 105);
  box-shadow: rgb(46, 76, 76) 1px 1px 10px 2px;
  border-top-color: initial;
  color: rgb(209, 205, 199);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: left;
  overflow-wrap: break-word;
}

.previewArea.deployed {
  height: 100vh;
}

P {
  margin-bottom: 5px;
}

p code {
  background-color: #a1a7a7;
}

pre code {
  display: block;
  background-color: #a1a7a7;
  font-size: 0.875rem;
  font-weight: 400;
  color: black;
}

/* =============================================== */
@media (max-width: 479px) {
  pre code {
    font-size: 10px;
  }
}
/* =============================================== */

a {
  color: blueviolet;
  font-weight: 700;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

a:hover {
  color: rgb(197, 182, 211);
  font-weight: 900;
}

table {
  border: 1px solid rgb(209, 205, 199);
  table-layout: inherit;
  border-collapse: collapse;
  color: rgb(209, 205, 199);
  margin: 10px 0px 10px 0px;
  overflow-x: scroll;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid rgb(209, 205, 199);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li {
  list-style-position: inside;
  padding-left: 10px;
}

ul li::marker {
  color: rgb(209, 205, 199);
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0px;
}
